.root {
  display: inline-flex;
  width: auto;
  height: auto;
  max-width: 20px;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  background: var(--token-uqQf8_MBm);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  padding: 0px;
}
.rootdisabled {
  background: var(--token-uqQf8_MBm);
}
.root_delete {
  background: var(--token-a3rpnloOa);
}
.root:hover {
  background: var(--token-VNf7Qsr15);
  cursor: pointer;
}
.rootdisabled:hover {
  background: var(--token-uqQf8_MBm);
  cursor: not-allowed;
  display: flex;
}
.root_delete:hover {
  background: var(--token-p65L8X1iX);
  transform: translateX(0px) translateY(0px) translateZ(0px);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: var(--token-Ev9Bxuf9c);
  left: auto;
  top: auto;
  text-align: center;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 800;
  display: block;
}
.textdisabled {
  color: var(--token-VNf7Qsr15);
}
.text_delete {
  color: var(--token-Dq5z1Fk83);
  width: auto;
  font-size: 12px;
}
.rootdisabled:hover .textdisabled {
  color: var(--token-VNf7Qsr15);
}
